/* General Styles */
body {
    background-image: url('https://media.discordapp.net/attachments/429983945786916884/1148692472818581575/unknown.png');
    background-repeat: repeat;
}

/* Centered Div */
.centered-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

/* Image Container */
.image-container {
    margin-top: 250px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* Pokémon Section */
#pokemon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.pokemon {
    display: inline-block;
    margin: 10px;
    margin-top: 50px;
    cursor: pointer;
    img {
        width: 100px;
        height: 100px;
    }
}

.centered-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;  /* You can adjust this */
    top: 40%;  /* Move down by 10% */
    position: relative;
}

#pokedex-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 65%;  /* Move down by 10% from the original 50% */
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    display: none;  /* Initially hidden */
}


/* New or modified styles */
#pokedex-entry {
    width: 400px;  /* Set the width explicitly */
    height: auto;  /* Maintain aspect ratio */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#pokedex-text {
    margin: 25px;
    text-align: center;
    position: absolute;
    z-index: 1;
}

#header-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;  /* Adjust as needed */
    height: auto;  /* Maintain aspect ratio */
    z-index: 10;   /* Optional, to ensure it's on top */
}
